*, *:before, *:after {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #424242;
    color: #fff;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#formprompt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formprompt .field {
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
}
#formprompt .submitField {
    text-align: center;
}
#formprompt .field label {
    display: block;
    margin: 0 0 5px;
}
#formprompt .field select,
#formprompt .field textarea {
    display: block;
    width: 100%;
    border-radius: 18px;
    padding: 10px;
}
#formprompt .field textarea{
    resize: vertical;
}
.text-center {
    text-align: center;
}
.btns{
    margin:20px 0;
}
.btn{
    display: inline-flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #712cf9;
    color:#fff;
    border:none;
    padding:10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    box-shadow: 0 0 10px #3e00b8;
}
.btn > .icon {
    margin-left:10px;
}
#slider {
    width: 400px;
    height: 400px;
    background: url('/images/yoga-1.jpeg') no-repeat;
    background-position: center;
    background-size: contain;
    animation: slider 30s infinite;
}

@keyframes slider {
    0% {
        opacity: 1;
        background-image: url('/images/yoga-1.jpeg');
    }
    10% {
        opacity: 0;
        background-image: url('/images/yoga-1.jpeg');
    }
    11% {
        background-image: url('/images/yoga-2.jpeg');
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
        background-image: url('/images/yoga-2.jpeg');
    }
    31% {
        background-image: url('/images/yoga-3.jpeg');
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        background-image: url('/images/yoga-3.jpeg');
    }
    51% {
        background-image: url('/images/yoga-4.jpeg');
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
        background-image: url('/images/yoga-4.jpeg');
    }
    71% {
        background-image: url('/images/yoga-5.jpeg');
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
        background-image: url('/images/yoga-5.jpeg');
    }
    91% {
        background-image: url('/images/yoga-1.jpeg');
    }
    100% {
        opacity: 1;
    }
}
