<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pose Generator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
<form id="formprompt" name="formprompt" action="#" th:action="@{/getimage}" th:object="${prompt}" method="get">
    <h1>
        <span class="material-symbols-outlined">
        self_improvement
        </span> AI-Powered Pose Generator
    </h1>
    <div id="slider"></div>
    <div class="field">
        <label for="poseList">Select a pose:</label>
        <select id="poseList" class="form-control">
            <option value = "0" selected> None </option>
           <option th:each="p : ${poselist}" th:value="${p}" th:text="${p}"></option>     
       </select>
    </div>
    <div class="field">
        <label for="promptText">Enter prompt:</label>
        <textarea id="promptText" name="promptText"></textarea>
        <input type="hidden" th:field="*{prompt}"  id="hiddenprompt" >
    </div>
    <div class="field submitField">
        <button class="submitBtn btn" th:onclick="callAPI()">
            Generate Image
            <span class="icon material-symbols-outlined">
                send
            </span>
        </button>   
    </div>
</form>
</body>
</html>
